header {
  height: 10vh;
  width: 100%;
  border-bottom: 3px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header-logo {
  text-decoration: none;
}
.header-logo p {
  color: #333232;
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: oblique;
  font-weight: 900;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
ul li {
  margin: 0 5px;
}

ul li a {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: #333232;
  border-radius: 5px 1px;
  font-size: 1rem;
  transition: all 200ms ease;
}
ul li a:hover {
  background-color: #000;
}
.burger-div {
  display: none;
}

@media only screen and (max-width: 767px) {
  .nonmobile-nav {
    display: none;
  }
  ul {
    flex-direction: column;
  }
  ul li {
    margin: 2rem auto;
  }
  .burger-div {
    font-size: 2.5rem;
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1000px) {
  ul li a {
    padding: 5px 20px;
  }
  .header-logo p {
    font-size: 1.2rem;
    font-weight: normal;
  }
}
