* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: impact;
  text-align: center;
}
.App {
  width: 100%;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}
