.modal-holder {
  width: 100%;
  height: 100vh;
  background-color: rgba(191, 191, 191, 1);
}
@keyframes slideRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 20%;
  }
}

.modal {
  position: absolute;
  top: 0;
  margin-left: 20%;
  z-index: 100;
  width: 80%;
  height: 100%;
  background-color: white;
  border-left: 3px solid #000;
  animation: slideRight 500ms;
}
